<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="abasForError" class="de.alltrotec.logger.AbasConsoleAppender">
    	<param name="Threshold" value="ERROR"/>
    </appender>
    
    <appender name="abasForInfo" class="de.alltrotec.logger.AbasConsoleAppender">
    	<param name="Threshold" value="INFO"/>
    </appender>
    
    <appender name="commonLog" class="org.apache.log4j.AsyncAppender">
		<param name="BufferSize" value="5000000"/>
		<appender-ref ref="commonLog_"/>
	</appender>
    <appender name="commonLog_" class="de.alltrotec.logger.CustodianDailyRollingFileAppender" >
        <param name="File" value="allpstart/log/allpstart/Common.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="MaxNumberOfDays" value="31"/>
		<param name="CompressBackups" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy.MM.dd HH:mm:ss} %5p %m%n"/>
        </layout>
    </appender>
    
    <appender name="customizeLog" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="500"/>
        <appender-ref ref="customizeLog_"/>
    </appender>
    <appender name="customizeLog_" class="de.alltrotec.logger.CustodianDailyRollingFileAppender" >
        <param name="File" value="allpstart/log/allpstart/Customize.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="MaxNumberOfDays" value="31"/>
        <param name="CompressBackups" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy.MM.dd HH:mm:ss} %5p %m%n"/>
        </layout>
    </appender>
    
    <!-- write to bugmail -->
    <appender name="mail" class="de.alltrotec.ajo.helper.AlltroSmtpAppenderForAbas">
    	<param name="sendAtThreshold" value="ERROR"/>
		<param name="threshold" value="INFO"/>
		<param name="to" value="bugtracking@alltrotec.de"/>
		<param name="from" value="bugreport@alltrotec.de"/>
		<param name="subject" value="[BugReport %app] Failure Type: %threshold, Instance: %mandant@%host"/>
		<param name="smtpHost" value="localhost"/>
		<param name="smtpUsername" value=""/>
		<param name="smtpPassword" value=""/>
		<param name="smtpAuth" value="false"/>
		<param name="applicationName" value="Operator"/>
	</appender>
    
   
      
   	<logger additivity="false" name="de.alltrotec.ps">
      <level value="WARN"/>
      <!--  level value="INFO"/-->
      <appender-ref ref="commonLog_"/>
 	</logger>  
 	
 	<logger additivity="false" name="de.alltrotec.ps.customize">
      <level value="ALL"/>
      <!-- appender-ref ref="customizeLog_"/ -->
    </logger> 
   
 	<logger additivity="false" name="de.alltrotec.staffAttributeCache">
      <level value="ALL"/>
      <appender-ref ref="abasForInfo"/>
      <appender-ref ref="commonLog_"/>
 	</logger>  
    
</log4j:configuration>