#***************************************************************************
#
#  Name           : ruecklief.feature
#  Datum          : 07.07.2014/17.03.2021
#  Autor          : foe
#  Verantwortlich : foe
#  Verantwortlich : carue
#
#  Funktion  : Skript zum Testen von Ruecklieferungen
#
#***************************************************************************
@persistent
Feature: Ruecklieferungen im Ein- und Verkauf
Background:
# Platzhalter LFDJ wird im Testbett durch das aktuelle Jahr ersetzt!
# LFDJ
Given I set the fake date to "01.09.LFDJ"

Scenario: Ruecklieferungen im Ein- und Verkauf
#---------------------------------------------------------------------------
# Ruecklieferungen im Ein- und Verkauf
#---------------------------------------------------------------------------
#
# budat    artikel such     orig      buart   mge  rueckorig rueckmge  preis platz  verw      ursache
# ------------------------------------------------------------------------------------------------------------
# 01.09.JJ H1      600020            ------    10                      20,00 F1               Bestellung
# 01.09.JJ H1      1LS60020 600020    Zugang   10                  0         F1               Lieferschein
# 02.09.JJ H1      1RE60020 1LS60020  ------    1                  0   21,00 F1               Rechnung
# 02.09.JJ H1      2RE60020 1LS60020  ------    4                  0   24,00 F1               Rechnung
# 02.09.JJ H1      3RE60020 1LS60020  ------    5                  0   25,00 F1               Rechnung
# 03.09.JJ H1      600021            ------    20                  0   30,00 F1               Bestellung
# 03.09.JJ H1      1LS60021 600021    Zugang   20                  0         F1               Lieferschein
# 04.09.JJ H1      200020             ------   25                  0   20,00 F1               Auftrag
# 04.09.JJ H1      1LS20020 200020    Abgang   21                  0         F1               Lieferschein
# 04.09.JJ H1      2LS20020 200020    Abgang    4                  0         F1               Lieferschein
# 05.09.JJ H1      1RL20020 1LS20020  Abgang  -21                  0         F1               Lieferschein
# 05.09.JJ H1      1RL20020 2LS20020  Abgang   -2                  0         F1               Lieferschein
# 06.09.JJ H1      1RL60021 1LS60021  Zugang  -18                  0         F1               Lieferschein
# 06.09.JJ H1      1RL60021 1LS60020  Zugang   -2                  0         F1               Lieferschein

#---------------------------------------------------------------------------
# Handelsartikel H1 anlegen
#---------------------------------------------------------------------------

Given I open an editor "TeilArtikel-1" from table "(Part):(Product)" with command "NEW" for record ""
And I set fields
	| such | H1              |
	| name | Handelsartikel  |
And I save the current editor

#---------------------------------------------------------------------------
# Bestellung 600020 fuer Artikel H1 10 Stueck
#---------------------------------------------------------------------------
Given I open an editor "1BE60020" from table "(Purchasing):(PurchaseOrder)" with command "NEW" for record ""
And I set fields
	| nummer | 600020  |
	| lief   | 1       |
And I append rows
	| artikel | mge | preis |
	| H1      | 10  | 20    |
And I save the current editor

#---------------------------------------------------------------------------
# Einkaufslieferschein 1LS60020 fuer Artikel H1 10 Stueck
#---------------------------------------------------------------------------
Given I open an editor "1LS60020" from table "(Purchasing):(PurchaseOrder)" with command "DELIVERY" for record from editor "1BE60020" 
And I set fields
	| nummer | 1LS60020  |
	| vom    | .         |
	| ueb    | j         |
And I set field "mge" to "10" in row 1
And I save the current editor

Given I set the fake date to "+1"

#----------------------------------------------------------------------------
# 1. Rechnung aus Lieferschein 1LS60020 fuer Artikel H1 1 Stueck
#----------------------------------------------------------------------------
Given I open an editor "1RE60020" from table "(Purchasing):(PackingSlip)" with command "INVOICE" for record from editor "1LS60020"
And I set fields
	| nummer | 1RE60020  |
	| ueb    | j         |
	| vom    | .         |
	| budat  | .         |
And I set field "mge" to "1" in row 1
And I set field "preis" to "21" in row 1
And I respond with answer "ja" to the dialog with id "4841"
And I save the current editor

#----------------------------------------------------------------------------
# 2. Rechnung aus Lieferschein 1LS60020 fuer Artikel H1 4 Stueck
#----------------------------------------------------------------------------
Given I open an editor "2RE60020" from table "(Purchasing):(PackingSlip)" with command "INVOICE" for record from editor "1LS60020"
And I set fields
	| nummer | 2RE60020  |
	| ueb    | j         |
	| vom    | .         |
	| budat  | .         |
And I set field "mge" to "4" in row 1
And I set field "preis" to "24" in row 1
And I respond with answer "ja" to the dialog with id "4841"
And I save the current editor

#----------------------------------------------------------------------------
# 3. Rechnung aus Lieferschein 1LS60020 fuer Artikel H1 5 Stueck
#----------------------------------------------------------------------------
Given I open an editor "3RE60020" from table "(Purchasing):(PackingSlip)" with command "INVOICE" for record from editor "1LS60020"
And I set fields
	| nummer | 3RE60020  |
	| ueb    | j         |
	| vom    | .         |
	| budat  | .         |
And I set field "mge" to "5" in row 1
And I set field "preis" to "25" in row 1
And I respond with answer "ja" to the dialog with id "4841"
And I save the current editor

Given I set the fake date to "+1"

#---------------------------------------------------------------------------
# 2. Bestellung 600021 fuer Artikel H1 20 Stueck
#---------------------------------------------------------------------------
Given I open an editor "1BE60021" from table "(Purchasing):(PurchaseOrder)" with command "NEW" for record ""
And I set fields
	| nummer | 600021  |
	| lief   | 1       |
And I append rows
	| artikel | mge | preis |
	| H1      | 20  | 30    |
And I save the current editor

#---------------------------------------------------------------------------
# Einkaufslieferschein 1LS60021 fuer Artikel H1 20 Stueck
#---------------------------------------------------------------------------
Given I open an editor "1LS60021" from table "(Purchasing):(PurchaseOrder)" with command "DELIVERY" for record from editor "1BE60021" 
And I set fields
	| nummer | 1LS60021  |
	| vom    | .         |
	| ueb    | j         |
And I set field "mge" to "20" in row 1
And I save the current editor

# Ausgabe der Bewertungen zu Artikel H1 nach Lieferungen im Einkauf
Given I execute FOP "RUECKBEW.FOP H1 Einkaufslieferungen RUECKBEW.REF alle"
And I close the current editor

Given I set the fake date to "+1"

#---------------------------------------------------------------------------
# Auftrag 200020 fuer Artikel H1 25 Stueck
#---------------------------------------------------------------------------
Given I open an editor "1AU200020" from table "(Sales):(SalesOrder)" with command "NEW" for record ""
And I set fields
	| nummer | 200020  |
	| kunde  | 1       |
And I append rows
	| artikel | mge |
	| H1      | 25  |
And I save the current editor

#---------------------------------------------------------------------------
# Verkaufslieferschein 1LS20020 fuer Artikel H1 21 Stueck
#---------------------------------------------------------------------------
Given I open an editor "1LS20020" from table "(Sales):(SalesOrder)" with command "DELIVERY" for record from editor "1AU200020" 
And I set fields
	| nummer | 1LS20020  |
	| ueb    | j         |
And I set field "mge" to "21" in row 1
And I save the current editor

Given I set the fake date to "+1"

#---------------------------------------------------------------------------
# 2. Verkaufslieferschein 2LS20020 fuer Artikel H1 4 Stueck
#---------------------------------------------------------------------------
Given I open an editor "2LS20020" from table "(Sales):(SalesOrder)" with command "DELIVERY" for record from editor "1AU200020" 
And I set fields
	| nummer | 2LS20020  |
	| ueb    | j         |
And I set field "mge" to "4" in row 1
And I save the current editor

# Ausgabe der Bewertungen zu Artikel H1 nach Lieferungen im Verkauf
Given I execute FOP "RUECKBEW.FOP H1 Verkaufslieferungen RUECKBEW.REF"
And I close the current editor

Given I set the fake date to "+1"

#---------------------------------------------------------------------------
# Verkaufslieferschein 1RL20020 fuer Artikel H1 -23 Stueck
#---------------------------------------------------------------------------
Given I open an editor "1RL20020" from table "(Sales):(PackingSlip)" with command "RETURN" for record from editor "1LS20020" 
And I set fields
	| nummer | 1RL20020  |
And I set field "mge" to "-21" in row 1
And I set field "beleg" to "2LS20020"
And I set field "mge" to "-2" in row 3
And I save the current editor

#---------------------------------------------------------------------------
# Verkaufslieferschein uebertragen
#---------------------------------------------------------------------------
Given I open an editor "1RL20020U" from table "(Sales):(PackingSlip)" with command "TRANSFER" for record from editor "1RL20020" 
And I save the current editor

# Ausgabe der Bewertungen zu Artikel H1 nach Ruecklieferung im Verkauf
Given I execute FOP "RUECKBEW.FOP H1 Verkaufsrücklieferung RUECKBEW.REF"
And I close the current editor

Given I set the fake date to "+1"

#---------------------------------------------------------------------------
# Einkaufslieferschein 1RL60021 fuer Artikel H1 -20 Stueck
#---------------------------------------------------------------------------
Given I open an editor "1RL60021" from table "(Purchasing):(PackingSlip)" with command "RETURN" for record from editor "1LS60021"
And I set fields
	| nummer | 1RL60021  |
	| vom    | .         |
And I set field "mge" to "-18" in row 1
And I set field "beleg" to "+1LS60020"
And I set field "mge" to "-2" in row 3
And I save the current editor

#---------------------------------------------------------------------------
# Einkaufslieferschein uebertragen
#---------------------------------------------------------------------------

Given I open an editor "1RL60021T" from table "(Purchasing):(PackingSlip)" with command "TRANSFER" for record from editor "1RL60021" 
And I save the current editor

# Ausgabe der Bewertungen zu Artikel H1 nach Ruecklieferung im Einkauf
Given I execute FOP "RUECKBEW.FOP H1 Einkaufsrücklieferung RUECKBEW.REF"
And I close the current editor

#---------------------------------------------------------------------------
# Ruecklieferung und Mengenneubewertung
#---------------------------------------------------------------------------
Scenario: Ruecklieferungen und Mengenneubewertung

# Datum muss im neuen Szenario erneut gefaelscht werden.
Given I set the fake date to "+6"

#---------------------------------------------------------------------------
# Einkaufsartikel EINKTEIL anlegen
#---------------------------------------------------------------------------
#
Given I open an editor "TeilArtikel-10" from table "(Part):(Product)" with command "NEW" for record ""
And I set fields
	| such | EINKTEIL      |
	| name | Einkaufsteil  |
And I save the current editor

#----------------------------------------------------------------------------
# Bestellung fuer Artikel EINKTEIL
#----------------------------------------------------------------------------
Given I open an editor "1BE60030" from table "(Purchasing):(PurchaseOrder)" with command "NEW" for record ""
And I set fields
	| nummer | 600030  |
	| lief   | 1       |
	| vom    | .       |
And I append rows
	| artikel  | mge | preis | tterm |
	| EINKTEIL | 100 | 7.5   | .     |
And I save the current editor

#----------------------------------------------------------------------------
# Lieferschein aus Bestellung fuer Artikel EINKTEIL
#----------------------------------------------------------------------------
Given I open an editor "1LS60030" from table "(Purchasing):(PurchaseOrder)" with command "DELIVERY" for record from editor "1BE60030" 
And I set fields
	| nummer | 1LS60030  |
	| vom    | .         |
	| ueb    | j         |
And I set field "mge" to "100" in row 1
And I save the current editor

# Ausgabe der Bewertungen zu Artikel EINKTEIL nach Lieferung im Einkauf
Given I execute FOP "RUECKBEW.FOP EINKTEIL Einkaufslieferung RUECKBEW.REF alle"
And I close the current editor

#----------------------------------------------------------------------------
# 1. Korrektur-Lieferschein fuer Artikel EINKTEIL
#----------------------------------------------------------------------------
Given I open an editor "1RL60030" from table "(Purchasing):(PackingSlip)" with command "RETURN" for record from editor "1LS60030"
And I set fields
	| nummer | 1RL60030  |
	| vom    | .         |
	| ueb    | j         |
And I set field "mge" to "-75" in row 1
And I save the current editor

# Ausgabe der Bewertungen zu Artikel EINKTEIL nach 1.Ruecklieferung im Einkauf
Given I execute FOP "RUECKBEW.FOP EINKTEIL 1.Rücklieferung RUECKBEW.REF"
And I close the current editor

#----------------------------------------------------------------------------
# 2. Korrektur-Lieferschein fuer Artikel EINKTEIL
#----------------------------------------------------------------------------
Given I open an editor "2RL60030" from table "(Purchasing):(PackingSlip)" with command "RETURN" for record from editor "1LS60030"
And I set fields
	| nummer | 2RL60030  |
	| vom    | .         |
	| ueb    | j         |
And I set field "mge" to "-1" in row 1
And I save the current editor

# Ausgabe der Bewertungen zu Artikel EINKTEIL nach 2.Ruecklieferung im Einkauf
Given I execute FOP "RUECKBEW.FOP EINKTEIL 2.Rücklieferung RUECKBEW.REF"
And I close the current editor

#----------------------------------------------------------------------------
# Mengenneubewertung fuer Artikel EINKTEIL
#----------------------------------------------------------------------------
Given I open an editor "Mengenneubew-14" from table "(CostDistribution):(QuantityRevaluation)" with command "NEW" for record ""
And I set fields
	| such | EINKNEUVRE  |
And I set field "vorgang" to "$,,artikel=EINKTEIL;platz=F1;@datei=40;@gruppe=4;@ablageart=lebendig" in row 1
And I set field "ntbewpr" to "9" in row 1
And I save the current editor

# Ausgabe der Bewertungen zu Artikel EINKTEIL nach Mengenneubewertung
Given I execute FOP "RUECKBEW.FOP EINKTEIL Mengenneubewertung RUECKBEW.REF"
And I close the current editor

#----------------------------------------------------------------------------
# Rechnung aus Lieferschein 1LS60030 fuer Artikel EINKTEIL
#----------------------------------------------------------------------------
Given I open an editor "1RE60030" from table "(Purchasing):(PackingSlip)" with command "INVOICE" for record from editor "1LS60030"
And I set fields
	| nummer | 1RE60030  |
	| ueb    | j         |
	| vom    | .         |
And I set field "mge" to "24" in row 1
And I set field "preis" to "10" in row 1
And I respond with answer "ja" to the dialog with id "4841"
And I save the current editor

# Ausgabe der Bewertungen zu Artikel EINKTEIL nach Rechnung
Given I execute FOP "RUECKBEW.FOP EINKTEIL Rechnung RUECKBEW.REF"
And I close the current editor

#----------------------------------------------------------------------------
# 2. Mengenneubewertung fuer Artikel EINKTEIL
#----------------------------------------------------------------------------
Given I open an editor "KostenumlageMengenneubewertung-16" from table "(CostDistribution):(QuantityRevaluation)" with command "NEW" for record ""
And I set fields
	| such | EINKNEUNRE  |
And I set field "vorgang" to "$,,artikel=EINKTEIL;platz=F1;@datei=40;@gruppe=4;@ablageart=lebendig" in row 1
And I set field "ntbewpr" to "10.1" in row 1
And I save the current editor
#
# Ausgabe der Bewertungen zu Artikel EINKTEIL nach 2.Mengenneubewertung
Given I execute FOP "RUECKBEW.FOP EINKTEIL 2.Mengenneubewertung RUECKBEW.REF"
And I close the current editor

# Nachbewerten
Given I open an editor "nachbewerten" for tip command "(Revalue)" and arguments ""
And I close the current editor

# Ausgabe der Bewertungen zu Artikel EINKTEIL nach Nachbewerten
Given I execute FOP "RUECKBEW.FOP EINKTEIL Nachbewerten RUECKBEW.REF"
And I close the current editor
