# *****************************************************************************
#  Name           : a_stammdat.feature.template
#  Autor          : sih
#  Verantwortlich : sih
#  Kontrolle      : uo
#  Funktion       : Anlage von Stammdaten (Konten, Fertigungskontengruppe)
#
# *****************************************************************************
@persistent
Feature: Anlage von Konten, einer Fertigungskontengruppe  
Background:
Given I set the fake date to "XX.YY.ZZZZ"

Scenario: 01 Kontenanlage
Given I open an editor "konto" from table "(Account):(Account)" with command "COPY" for record "99800"
And I set field "nummer" to "97100"
And I set field "such" to "K97100"
And I set field "namebspr" to "Lohn"
And I save the current editor

Given I open an editor "konto" from table "(Account):(Account)" with command "COPY" for record "99800"
And I set field "nummer" to "97101"
And I set field "such" to "K97101"
And I set field "namebspr" to "Lohn"
And I save the current editor

Given I open an editor "konto" from table "(Account):(Account)" with command "COPY" for record "99800"
And I set field "nummer" to "97200"
And I set field "such" to "K97200"
And I set field "namebspr" to "Maschinenkosten fix"
And I save the current editor

Given I open an editor "konto" from table "(Account):(Account)" with command "COPY" for record "99800"
And I set field "nummer" to "97201"
And I set field "such" to "K97201"
And I set field "namebspr" to "Maschinenkosten fix"
And I save the current editor

Given I open an editor "konto" from table "(Account):(Account)" with command "COPY" for record "99800"
And I set field "nummer" to "97300"
And I set field "such" to "K97300"
And I set field "namebspr" to "Maschinenkosten var"
And I save the current editor

Given I open an editor "konto" from table "(Account):(Account)" with command "COPY" for record "99800"
And I set field "nummer" to "97301"
And I set field "such" to "K97301"
And I set field "namebspr" to "Maschinenkosten var"
And I save the current editor

Given I open an editor "konto" from table "(Account):(Account)" with command "COPY" for record "99800"
And I set field "nummer" to "97400"
And I set field "such" to "K97400"
And I set field "namebspr" to "SK fix"
And I save the current editor

Given I open an editor "konto" from table "(Account):(Account)" with command "COPY" for record "99800"
And I set field "nummer" to "97401"
And I set field "such" to "K97401"
And I set field "namebspr" to "SK fix"
And I save the current editor

Given I open an editor "konto" from table "(Account):(Account)" with command "COPY" for record "99800"
And I set field "nummer" to "97500"
And I set field "such" to "K97500"
And I set field "namebspr" to "SK var"
And I save the current editor

Given I open an editor "konto" from table "(Account):(Account)" with command "COPY" for record "99800"
And I set field "nummer" to "97501"
And I set field "such" to "K97501"
And I set field "namebspr" to "SK var"
And I save the current editor


Given I open an editor "konto" from table "(Account):(Account)" with command "COPY" for record "99800"
And I set field "nummer" to "97600"
And I set field "such" to "K97600"
And I save the current editor

Given I open an editor "konto" from table "(Account):(Account)" with command "COPY" for record "99800"
And I set field "nummer" to "97700"
And I set field "such" to "K97700"
And I save the current editor

Given I open an editor "fk" from table "(ProductionAccountsGroup):(ProductionAccountsGroup)" with command "NEW" for record ""
And I set field "nummer" to "500"
And I set field "such" to "KFKONT"
And I append rows
    | fertigungskosten     | belast    | entlast   |
    | Lohn                 | 97100     | 97101     |
    | Maschinenkosten fix  | 97200     | 97201     |
    | Maschinenkosten var  | 97300     | 97301     |
    | SK fix               | 97400     | 97401     |
    | SK var               | 97500     | 97501     |
And I save the current editor

Given I open an editor "korekonf" from table "(CostType):(CostAccountingConfig)" with command "UPDATE" for record "korekonf"
And I set field "fertkont" to "kfkont"
And I save the current editor


