@persistent
Feature: BW2-1778
Background:
# Platzhalter LFDJ wird im Testbett durch das aktuelle Jahr ersetzt!
# LFDJ
Given I set the fake date to "02.01.LFDJ"

# *****************************************************************************
#  Name             : ilv_haupt_kst_ekbasis_gkbasis.feature.template
#  Autor            : Silvia Warth
#  Verantwortlich   : sih
#  Kontrolle        : uo
#  Funktion         : Test der ILV mit nur zwei Haupt-Kst, wobei die eine eine EK-Basis und die andere EK- und GK-Basis enthält.
# ACHTUNG VARIABLEN bei Datum und GJs , Budat
# *****************************************************************************

Scenario: 01 Kostenrechnungskonfiuration und Termine anpassen
Given I open an editor "korekonf" from table "(CostType):(CostAccountingConfig)" with command "UPDATE" for record "korekonf"
And I set field "gekobuch" to "ja"
And I set field "ilvko" to "99800"
And I set field "ilvks" to "100"
And I save the current editor
And I close the current editor

Given I open an editor "korekonf" from table "(Company):(FinancialDates)" with command "UPDATE" for record "term"
And I set field "ilviststartgj" to "LFDJ"
And I set field "ilviststartgm" to "1"
And I set field "ilvplanstartgj" to "LFDJ"
And I set field "ilvplanstartgm" to "1"
And I save the current editor

Scenario: 02 Anlage Kostenarten 
Given I open an editor "koart1" from table "(CostType):(CostType)" with command "NEW" for record ""
And I set field "num60" to "91000"
And I set field "such" to "ALL"
And I set field "namebspr" to "Allgemeine Kosten"
And I set field "prim" to "nein"
And I set field "stat" to "ja"
And I save the current editor
And I close the current editor

Given I open an editor "koart1" from table "(CostType):(CostType)" with command "NEW" for record ""
And I set field "num60" to "91001"
And I set field "such" to "ALL"
And I set field "namebspr" to "Allgemeine Kosten"
And I set field "prim" to "nein"
And I set field "sekgut" to "ja"
And I set field "stat" to "ja"
And I save the current editor
And I close the current editor

Given I open an editor "koart1" from table "(CostType):(CostType)" with command "NEW" for record ""
And I set field "num60" to "95010"
And I set field "such" to "GUT-HK"
And I set field "namebspr" to "Gutschrift HK"
And I set field "prim" to "nein"
And I set field "sekgut" to "ja"
And I set field "stat" to "ja"
And I save the current editor
And I close the current editor

Given I open an editor "koart1" from table "(CostType):(CostType)" with command "NEW" for record ""
And I set field "num60" to "95040"
And I set field "such" to "BEL-HK"
And I set field "namebspr" to "Belastung HK"
And I set field "prim" to "nein"
And I set field "stat" to "ja"
And I save the current editor
And I close the current editor

Given I open an editor "koart1" from table "(CostType):(CostType)" with command "NEW" for record ""
And I set field "num60" to "95050"
And I set field "such" to "K"
And I set field "namebspr" to "Kosten"
And I set field "prim" to "nein"
And I save the current editor
And I close the current editor

Given I open an editor "koart1" from table "(CostType):(CostType)" with command "NEW" for record ""
And I set field "num60" to "94132"
And I set field "such" to "K"
And I set field "namebspr" to "Fertigungsleistung"
And I set field "prim" to "ja"
And I set field "stat" to "ja"
And I save the current editor
And I close the current editor

Given I open an editor "koart1" from table "(CostType):(CostType)" with command "NEW" for record ""
And I set field "num60" to "95132"
And I set field "such" to "K"
And I set field "namebspr" to "Fertigungsleistung"
And I set field "prim" to "ja"
And I set field "stat" to "ja"
And I save the current editor
And I close the current editor

Scenario: 03 Anlage Konten
Given I open an editor "konto1" from table "(Account):(Account)" with command "NEW" for record ""
And I set field "num5" to "91000"
And I set field "such5" to "bel-ilv"
And I set field "name" to "Belastung ILV"
And I set field "gv" to "ja"
And I set field "kost" to "ja"
And I set field "stata" to "Belastung"
And I create a new row at the end of the table
And I set field "zkoart" to "91000" in row 1
And I save the current editor
And I close the current editor

Given I open an editor "konto1" from table "(Account):(Account)" with command "NEW" for record ""
And I set field "num5" to "91001"
And I set field "such5" to "ent-ilv"
And I set field "name" to "Entlastung ILV"
And I set field "gv" to "ja"
And I set field "kost" to "ja"
And I set field "stata" to "Entlastung"
And I create a new row at the end of the table
And I set field "zkoart" to "91001" in row 1
And I save the current editor
And I close the current editor

Given I open an editor "konto1" from table "(Account):(Account)" with command "NEW" for record ""
And I set field "num5" to "95010"
And I set field "such5" to "ent-ilv"
And I set field "name" to "Entlastung ILV"
And I set field "gv" to "ja"
And I set field "kost" to "ja"
And I set field "stata" to "Entlastung"
And I create a new row at the end of the table
And I set field "zkoart" to "95010" in row 1
And I save the current editor
And I close the current editor

Given I open an editor "konto1" from table "(Account):(Account)" with command "NEW" for record ""
And I set field "num5" to "95040"
And I set field "such5" to "bel-ilv"
And I set field "name" to "Belastung ILV"
And I set field "gv" to "ja"
And I set field "kost" to "ja"
And I set field "stata" to "Belastung"
And I create a new row at the end of the table
And I set field "zkoart" to "95040" in row 1
And I save the current editor
And I close the current editor

Given I open an editor "konto1" from table "(Account):(Account)" with command "NEW" for record ""
And I set field "num5" to "95050"
And I set field "such5" to "bel-ilv"
And I set field "name" to "Belastung ILV"
And I set field "gv" to "ja"
And I set field "kost" to "ja"
And I set field "stata" to "Belastung"
And I create a new row at the end of the table
And I set field "zkoart" to "95050" in row 1
And I save the current editor
And I close the current editor

Given I open an editor "konto1" from table "(Account):(Account)" with command "NEW" for record ""
And I set field "num5" to "94132"
And I set field "such5" to "ent"
And I set field "name" to "Entlastung FL"
And I set field "gv" to "ja"
And I set field "kost" to "ja"
And I set field "hkost" to "ja"
And I set field "stata" to "Kostenrechnung"
And I create a new row at the end of the table
And I set field "zkoart" to "94132" in row 1
And I save the current editor
And I close the current editor

Given I open an editor "konto1" from table "(Account):(Account)" with command "NEW" for record ""
And I set field "num5" to "95132"
And I set field "such5" to "be"
And I set field "name" to "Belastung FL"
And I set field "gv" to "ja"
And I set field "kost" to "ja"
And I set field "hkost" to "ja"
And I set field "stata" to "Kostenrechnung"
And I create a new row at the end of the table
And I set field "zkoart" to "95132" in row 1
And I save the current editor
And I close the current editor

Scenario: 04 Anlage Kostenstellen
Given I open an editor "ks" from table "(Account):(CostCenter)" with command "NEW" for record ""
And I set field "nummer" to "1301"
And I set field "such" to "ks"
And I set field "bebuchbar" to "ja"
And I set field "hilfsks" to "nein"
And I set field "bezug" to "600"
And I set field "umlzu" to "95010"
And I set field "umlab" to "95040"
And I create a new row at the end of the table
And I set field "ekbasis" to "95132" in row 1
And I save the current editor
And I close the current editor

Given I open an editor "ks" from table "(Account):(CostCenter)" with command "NEW" for record ""
And I set field "nummer" to "1320"
And I set field "such" to "ks"
And I set field "bebuchbar" to "ja"
And I set field "hilfsks" to "ja"
And I set field "bezug" to "600"
And I set field "umlzu" to "91001"
And I set field "umlab" to "91000"
And I save the current editor
And I close the current editor

Given I open an editor "ks" from table "(Account):(CostCenter)" with command "NEW" for record ""
And I set field "nummer" to "1410"
And I set field "such" to "ks"
And I set field "bebuchbar" to "ja"
And I set field "hilfsks" to "nein"
And I set field "umlzu" to "95010"
And I set field "umlab" to "95050"
And I create a new row at the end of the table
And I set field "ekbasis" to "50000" in row 1
And I set field "gkbasis" to "1301" in row 1
And I set field "ekbasis" to "95132" in row 2
And I set field "ekbasis" to "95040" in row 2
And I save the current editor
And I close the current editor

Scenario: 05 Anlage Fertigungskontengruppe und Eintrag in Kst 1320
Given I open an editor "fkogrp" from table "(ProductionAccountsGroup):(ProductionAccountsGroup)" with command "NEW" for record ""
And I set field "nummer" to "200"
And I set field "such" to "fk200"
And I append rows
    | fertigungskosten     | belast    | entlast   |
    | Fertigungskosten un  | 95132     | 94132     |
And I save the current editor
And I close the current editor

Scenario: 06 Eintrag Kst 1320 in Mgr 101 und Eintrag FK200 in Kst 1320
Given I open an editor "kapa" from table "(Capacity):(WorkCenter)" with command "UPDATE" for record "101"
And I set field "kstelle" to "1320"
And I save the current editor
And I close the current editor

Scenario: 07 Eintrag Fertigungskontengruppe in Kst 1320
Given I open an editor "ks" from table "(Account):(CostCenter)" with command "UPDATE" for record "1320"
And I set field "fertkont" to "fk200"
And I save the current editor
And I close the current editor

Scenario: 07a Bezugsgröße in Kst 100 entfernen
Given I open an editor "ks" from table "(Account)(CostCenter)" with command "UPDATE" for record "100"
And I set field "bezug" to ""
And I save the current editor
And I close the current editor

Scenario: 07b Kostenstellenumlage für Kst 1320
Given I open an editor "ksum1" from table "(Assessment):(CostCenterAssessment)" with command "NEW" for record ""
And I set field "such" to "um1320"
And I set field "ksab" to "1320"
And I create a new row at the end of the table
And I set field "kszu" to "1301" in row 1
And I save the current editor
And I close the current editor

Given I open an editor "ksum1" from table "(Assessment):(CostCenterAssessment)" with command "UPDATE" for record "um1320"
And I set field "gjahr" to "LFDJ"
And I press button "kszuist" to open a subeditor for "Ist-VKZ" in row 1 with dialog "2011" and answer "Ja"
And I set field "s1" to "45"
And I respond with answer "Ja" to the dialog with id "2012"
And I save the current editor
And I switch the current editor to editor "ksum1"
And I close the current editor

Scenario: 08 Einzelkosten bezüglich Kostenart 50000 buchen
Given I open an editor "Buchung1" from table "(Entry):(Entry)" with command "NEW" for record ""
And I set field "budat" to "."
And  I create a new row at the end of the table
And I set field "konto" to "50000" in row 1
And I set field "ewsbetr" to "1000" in row 1
And I set field "kstelle" to "100000" in row 1
And  I create a new row at the end of the table
And I set field "konto" to "11400" in row 2
And I respond with answer "ja" to the dialog with id "1941"
And I save the current editor

Scenario: 09 Fertigungsleistung buchen
# FV
Given I open an editor "fvor1" from table "(Purchasing):(WorkOrderSuggestions)" with command "NEW" for record ""
And I append rows
| artikel| netmge| bisuch     | mfreig|
| BG1    |     60| BG1_  | ja    |
And I press button "freig" to open a subeditor for "BA_freigeben"
And I close the current editor
And I switch the current editor to editor "fvor1"
And I save the current editor
#
# RM auf ersten und zweiten AG
Given I open an editor "RueckmeldungBG1_001" from table "(Workorder):(WorkOrders)" with command "DONE" for record "BG1_001"
And I set field "bem" to "RueckmeldungBG1"
And I set field "ma" to "1"
And I set field "lgr" to "2"
And I set field "bzeit" to "1"
And I set field "mzeit" to "1"
And I set field "sofort" to "ja"
And I set field "gutmge" to "20" in row 1
And I save the current editor

Given I open an editor "RueckmeldungBG1_002" from table "(Workorder):(WorkOrders)" with command "DONE" for record "BG1_002"
And I set field "bem" to "RueckmeldungBG1"
And I set field "ma" to "7802"
And I set field "lgr" to "3"
And I set field "bzeit" to "2"
And I set field "mzeit" to "2"
And I set field "sofort" to "ja"
And I set field "gutmge" to "20" in row 1
And I save the current editor

# Kostenbuchungsvorschlag
Given I create a CostEntriesSuggestion "mkv-fertigung" with type of cost entry "Verbuchung Fertigungskosten" for startdate "1.1." until enddate "31.12."

Scenario: 10 ILV ausführen -> Diag
Given I open an editor "Umlage" from table "(Assessment):(IAAA)" with command "NEW" for record ""
And I set field "monat" to "1"
And I set field "vorschau" to "ja"
And I set field "datart" to "Ist"
And I press button "bstart"
And I save the current editor


