<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	
    <appender name="logFileRollingFile" class="org.apache.log4j.RollingFileAppender" >
        <param name="File" value="allppro/log/pro/common.log"/>
        <param name="MaxBackupIndex" value="10"/>
        <param name="MaxFileSize" value="10MB"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy.MM.dd HH:mm:ss} %t %5p %-.20c{1}: %m%n"/>
        </layout>
    </appender>
    

    <logger name="BillOfServicesCosting" additivity="false">
        <level value="INFO"/>
       <appender-ref ref="logFileRollingFile"/>
       <!-- <appender-ref ref="console"/> -->
    </logger>
</log4j:configuration>