# connection to rabbitmq client
[connection]
# host=<host name>
# vhost=<virtual host name>
# user=<user name>
# pass=<password>

[options]
# ttl: 60000 =1 minute, 604800000 = 7 days
ttlBackupMessage=604800000
