# ###################################################################
# PDM Congiguration
# ###################################################################

# ###################################################################
# Import ( PDM system -> abas )
# ###################################################################

[PDM]
homedir   = /u/abasdemo/s3 
callparam = -forceParserErrors -p master

#
# root element: PDMRequest
#   with attribute values: objectsend, bomlinkssend, allbomlinkssend
# first child after <objects>: part, link, <empty> (=all childs)
#
[PDMRequest]
source = /u/ExchangeDirLinux/PDMRequest
target = /u/abasdemo/erp/dfue/empfangen/

objectsend:part:transformation = $homedir/jedi/xslt/xml/v01/pdmpart2ihs.xsl
objectsend:part:mappingmodel   = 9001
objectsend:part:fileprefix     = pdmpart

bomlinkssend:link:transformation   = $homedir/jedi/xslt/xml/v01/pdmbom2ihs.xsl
bomlinkssend:link:mappingmodel     = 9002
bomlinkssend:link:fileprefix       = pdmbom

allbomlinkssend::transformation = $homedir/jedi/xslt/xml/v01/pdmbom2ihs.xsl
allbomlinkssend::mappingmodel   = 9002
allbomlinkssend::fileprefix     = pdmbom

#
# root element: ERPRequestResponse
#
[ERPRequestResponse]
source = /u/ExchangeDirLinux/ERPRequestResponse 
target = /u/abasdemo/erp/dfue/empfangen

transformation               = $homedir/jedi/xslt/xml/v01/pdmresponse2ihs.xsl
mappingmodel                 = 9007
fileprefix                   = pdmresp

# ##################################################################
# Export ( abas -> PDM system )
# ##################################################################

# PDM Zeichensatz
# PDM encoding
[global]
ImportCharset=UTF-8
ExportCharset=UTF-8

# PDM Export-Verzeichnisse
# PDM export directories
# \\localhost\ExchangeDir\PDMRequestResponse
[inhouse/201404/export/aepdmresp]
ExportDirectory=/u/ExchangeDirLinux/PDMRequestResponse

[inhouse/201404/export/aepdmpart]
ExportDirectory=/u/ExchangeDirLinux/ERPRequest

[inhouse/201404/import/aipdmbom]
SplitFileMessages=0

[inhouse/201404/import/aipdmpart]
SplitFileMessages=0

