# ###################################################################
# PDM Configuration
# ###################################################################

# ###################################################################
# Import ( PDM system -> abas )
# ###################################################################

[PDM]
homedir   = 
calljedi = de.abas.edi2.JEdi
callparam = -forceParserErrors

[PDMRequest]
source = 
target = 

objectsend:xpath              = /PdmExchange/Object[@ObjectType='Item']
objectsend:transformation     = 
objectsend:mappingmodel       = 9051
objectsend:part:fileprefix    = pdmpart

bomlinkssend:xpath            = /PdmExchange/Bom
bomlinkssend:transformation   = 
bomlinkssend:mappingmodel     = 9052
bomlinkssend:fileprefix       = pdmbom

[ERPRequestResponse]
source = 
target = 

1:xpath                        = 
1:transformation               = 
1:mappingmodel                 = 9057
1:fileprefix                   = pdmresp

# ##################################################################
# Export ( abas -> PDM system )
# ##################################################################

# PDM Zeichensatz
# PDM encoding
[global]
ImportCharset=UTF-8
ExportCharset=UTF-8

# PDM Export-Verzeichnisse
# PDM export directories
# \\localhost\ExchangeDir\PDMRequestResponse
[xmlxpath/201904/export/aepdmresp]
ExportDirectory=ExchangeDir/PDMRequestResponse

[xmlxpath/201904/export/aepdmpart]
ExportDirectory=ExchangeDir/ERPRequest

[xmlxpath/201904/import/aipdmbom]
SplitFileMessages=0

[xmlxpath/201904/import/aipdmpart]
SplitFileMessages=0

