# ###################################################################
# SLP Congiguration
# ###################################################################

# ##################################################################
# Export ( abas -> SLP system )
# ##################################################################

# SLP Zeichensatz
# SLP encoding
[global]
ImportCharset=UTF-8
ExportCharset=UTF-8

# SLP Export-Verzeichnisse
# SLP export directories
# \\localhost\SLP-Directory\import
[xml/01/export/aeslpadr]
# ExportDirectory=SLP-Directory/import

