# ###################################################################
# ZUGFeRD Congiguration
# ###################################################################

# ##################################################################
# Export / Import
# ##################################################################

# ZUGFeRD Zeichensatz
# ZUGFeRD encoding
[global]
ImportCharset=UTF-8
ExportCharset=UTF-8
UseNamespacePrefix=1

[export]
ExportEmptyFields=0

[xmlxpath/2.1/export/en16931]
SchematronErrorFlags=fatal,warning

[xmlxpath/2.3.3/export/en16931]
SchematronErrorFlags=fatal,warning

[xmlxpath/1.08/export/en16931]
SchematronErrorFlags=fatal,warning

[xmlxpath/2.3/export/extended]
SchematronErrorFlags=fatal,warning

[xmlxpath/2.3.3/export/extended]
SchematronErrorFlags=fatal,warning

[xmlxpath/1.08/export/extended]
SchematronErrorFlags=fatal,warning

[xmlxpath/3.0.2/export/xrechnung-cii]
SchematronErrorFlags=fatal,warning

[xmlxpath/2.1/import/en16931]
SchematronFile=$HOMEDIR/jedi/schema/zugferd21/EN16931/FACTUR-X_EN16931.xslt
SchematronErrorFlags=fatal,warning

[xmlxpath/2.3.3/import/en16931]
SchematronFile=$HOMEDIR/jedi/schema/facturx1073/EN16931/FACTUR-X_EN16931.xslt
SchematronErrorFlags=fatal,warning

[xmlxpath/2.3/import/extended]
SchematronFile=$HOMEDIR/jedi/schema/zugferd23/EXTENDED/FACTUR-X_1.0.07_EXTENDED.xslt
SchematronErrorFlags=fatal,warning

[xmlxpath/2.3.3/import/extended]
SchematronFile=$HOMEDIR/jedi/schema/facturx1073/EXTENDED/FACTUR-X_EXTENDED.xslt
SchematronErrorFlags=fatal,warning

[xmlxpath/3.0.2/import/xrechnung-cii]
SchematronFile=$HOMEDIR/jedi/schema/xrechnung/cii3.0.2/EN16931-CII-validation.xsl
SchematronFile=$HOMEDIR/jedi/schema/xrechnung/cii3.0.2/XRechnung-CII-validation.xsl
SchematronErrorFlags=fatal,warning

