@persistent
Feature: Storno EK
Background: Test von Stornos im Einkauf
Given I set the fake date to "08.01.2002"

# ----------------------
@Lieferschein
Scenario: Kommando <(Purchasing)> LIEFERSCHEIN <(new)>
Given I set the fake date to "09.01.2002"

Given I open an editor "artikel" from table "(Part):(Product)" with command "UPDATE" for record "11vl"
And I set field "gemein" to "" 
And I save the current editor
And I close the current editor

Given I open an editor "artikel" from table "(Part):(Product)" with command "UPDATE" for record "12vf"
And I set field "gemein" to "" 
And I save the current editor
And I close the current editor

Given I open an editor "artikel" from table "(Part):(Product)" with command "UPDATE" for record "13vo"
And I set field "gemein" to "" 
And I save the current editor
And I close the current editor

Given I open an editor "artikel" from table "(Part):(Product)" with command "UPDATE" for record "14vm"
And I set field "gemein" to "" 
And I save the current editor
And I close the current editor



Given I open an editor "LS1" from table "(Purchasing):(PackingSlip)" with command "NEW" for record ""

Then field "typa" has value "Lieferschein"
Then field "lief" is modifiable

And I set field "lief" to "TEST"
And I set field "vom" to "." 
And I set field "num4" to "37476ls" 
And I set field "ueb" to "ja" 
And I set field "erfwaehr" to "EUR"

And I create a new row at the end of the table
# fifo-test #And I set field "artikel" to "12vf" in row 1
# lifo-test #And I set field "artikel" to "11vl" in row 1
# vo-test #And I set field "artikel" to "13vo" in row 1
And I set field "mge" to "10" in row 1
And I set field "preis" to "10" in row 1
And I set field "platz" to "F1" in row 1
# vo-test #And I set field "platz" to "F1" in row 1
And I set field "konto" to "10015" in row 1

And I save the current editor
And I close the current editor

@EK-Rechnung
Scenario: Kommando <(Purchasing)> RE <(new)>
Given I set the fake date to "10.01.2002"

Given I open an editor "RE1" from table "(Purchasing):(Invoice)" with command "NEW" for record ""

And I set field "lief" to "TEST"
And I set field "vom" to "." 
And I set field "num4" to "7575re" 
And I set field "ueb" to "ja" 
And I set field "erfwaehr" to "EUR"

And I create a new row at the end of the table
# fifo-test #And I set field "artikel" to "12vf" in row 1
# lifo-test #And I set field "artikel" to "11vl" in row 1
# vo-test #And I set field "artikel" to "13vo" in row 1
And I set field "mge" to "20" in row 1
And I set field "preis" to "20" in row 1
And I set field "platz" to "F2" in row 1
# vo-test #And I set field "platz" to "F1" in row 1
And I set field "konto" to "10014" in row 1

And I respond with answer "yes" to the dialog with id "4841"
And I save the current editor
And I close the current editor


Scenario: 
Given I set the fake date to "11.01.2002"
Given I open an editor "LS2" from table "(Purchasing):(PackingSlip)" with command "NEW" for record ""

Then field "typa" has value "Lieferschein"
Then field "lief" is modifiable

And I set field "lief" to "TEST"
And I set field "vom" to "." 
And I set field "num4" to "6ls" 
And I set field "ueb" to "ja" 
And I set field "erfwaehr" to "EUR"

And I create a new row at the end of the table
# fifo-test #And I set field "artikel" to "12vf" in row 1
# lifo-test #And I set field "artikel" to "11vl" in row 1
# vo-test #And I set field "artikel" to "13vo" in row 1
And I set field "mge" to "8" in row 1
And I set field "preis" to "8" in row 1
And I set field "platz" to "F3" in row 1
# vo-test #And I set field "platz" to "F1" in row 1

And I save the current editor
And I close the current editor

Given I open an editor "TRE2.1" from table "(Purchasing):(PackingSlip)" with command "INVOICE" for record "6ls"

And I set field "vom" to "." 
And I set field "num4" to "6re" 
And I set field "ueb" to "ja" 
And I set field "erfwaehr" to "EUR"
And I set field "mge" to "3" in row 1

And I respond with answer "yes" to the dialog with id "4841"
And I save the current editor
And I close the current editor


@Lieferschein
Scenario:
Given I set the fake date to "11.01.2002"

Given I open an editor "VKLS1" from table "(Sales):(PackingSlip)" with command "NEW" for record ""

Then field "typa" has value "Lieferschein"

And I set field "kunde" to "TESTM"
And I set field "vom" to "." 
And I set field "nummer" to "1vls" 
And I set field "ueb" to "ja" 

And I create a new row at the end of the table
# fifo-test #And I set field "artikel" to "12vf" in row 1
# lifo-test #And I set field "artikel" to "11vl" in row 1
# vo-test #And I set field "artikel" to "13vo" in row 1
And I set field "mge" to "10" in row 1
And I set field "platz" to "F3" in row 1
# vo-test #And I set field "platz" to "F1" in row 1

And I save the current editor
And I close the current editor

Scenario:
Given I set the fake date to "12.01.2002"

Given I open an editor "VKLS2" from table "(Sales):(PackingSlip)" with command "NEW" for record ""

Then field "typa" has value "Lieferschein"

And I set field "kunde" to "TESTM"
And I set field "vom" to "." 
And I set field "nummer" to "2vls" 
And I set field "ueb" to "ja" 

And I create a new row at the end of the table
# fifo-test #And I set field "artikel" to "12vf" in row 1
# lifo-test #And I set field "artikel" to "11vl" in row 1
# vo-test #And I set field "artikel" to "13vo" in row 1
And I set field "mge" to "14" in row 1
And I set field "platz" to "F2" in row 1
# vo-test #And I set field "platz" to "F1" in row 1

And I save the current editor
And I close the current editor

Scenario:
Given I set the fake date to "13.01.2002"

Given I open an editor "VKLS3" from table "(Sales):(PackingSlip)" with command "NEW" for record ""

Then field "typa" has value "Lieferschein"

And I set field "kunde" to "TESTM"
And I set field "vom" to "." 
And I set field "nummer" to "3vls" 
And I set field "ueb" to "ja" 

And I create a new row at the end of the table
# fifo-test #And I set field "artikel" to "12vf" in row 1
# lifo-test #And I set field "artikel" to "11vl" in row 1
# vo-test #And I set field "artikel" to "13vo" in row 1
And I set field "mge" to "8" in row 1
And I set field "platz" to "F2" in row 1
# vo-test #And I set field "platz" to "F1" in row 1

And I save the current editor
And I close the current editor

Scenario:
Given I set the fake date to "14.01.2002"

Given I open an editor "VKLS4" from table "(Sales):(PackingSlip)" with command "NEW" for record ""

Then field "typa" has value "Lieferschein"

And I set field "kunde" to "TESTM"
And I set field "vom" to "." 
And I set field "nummer" to "4vls" 
And I set field "ueb" to "ja" 

And I create a new row at the end of the table
# fifo-test #And I set field "artikel" to "12vf" in row 1
# lifo-test #And I set field "artikel" to "11vl" in row 1
# vo-test #And I set field "artikel" to "13vo" in row 1
And I set field "mge" to "13" in row 1
And I set field "platz" to "F1" in row 1
# vo-test #And I set field "platz" to "F1" in row 1

And I save the current editor
And I close the current editor

Scenario:
Given I set the fake date to "15.01.2002"

Given I open an editor "VKLS5" from table "(Sales):(PackingSlip)" with command "NEW" for record ""

Then field "typa" has value "Lieferschein"

And I set field "kunde" to "TESTM"
And I set field "vom" to "." 
And I set field "nummer" to "5vls" 
And I set field "ueb" to "ja" 

And I create a new row at the end of the table
# fifo-test #And I set field "artikel" to "12vf" in row 1
# lifo-test #And I set field "artikel" to "11vl" in row 1
# vo-test #And I set field "artikel" to "13vo" in row 1
And I set field "mge" to "5" in row 1
And I set field "platz" to "F3" in row 1
# vo-test #And I set field "platz" to "F1" in row 1

And I save the current editor
And I close the current editor
