@persistent
Feature: RL EK/VK  komplex
Background: RL EK/VK  komplex
Given I set the fake date to "20.01.2002"

Scenario:
Given I set the fake date to "21.01.2002"

# rückliefer-fall #Given I open an editor "VKTRLS1" from table "(Sales):(PackingSlip)" with command "RETURN" for record "1vls"
# rückliefer-fall ## And I set field "kunde" to "TESTM"
# rückliefer-fall #And I set field "vom" to "." 
# rückliefer-fall #And I set field "nummer" to "1vtrls" 
# rückliefer-fall #And I set field "ueb" to "ja" 
# rückliefer-fall #And I set field "mge" to "-3" in row 1
# rückliefer-fall #And I save the current editor
# rückliefer-fall #And I close the current editor

# storno-fall #Given I open an editor "VK-SLs1" from table "(Sales):(PackingSlip)" with command "REVERSAL" for record "1vls"
# storno-fall #And I save the current editor
# storno-fall #And I close the current editor

Scenario:
Given I set the fake date to "22.01.2002"
# ------ nachbewerten ---------------
Given I open an editor "nachbewerten" for tip command "(Revalue)" and arguments ""
And I close the current editor


Scenario: noch einen neuen zugang nachschieben
Given I set the fake date to "23.01.2002"

Given I open an editor "EK-LS4" from table "(Purchasing):(PackingSlip)" with command "NEW" for record ""

Then field "typa" has value "Lieferschein"
Then field "lief" is modifiable

And I set field "lief" to "TEST"
And I set field "vom" to "." 
And I set field "num4" to "75848ls" 
And I set field "ueb" to "ja" 
And I set field "erfwaehr" to "EUR"

And I create a new row at the end of the table
# fifo-test #And I set field "artikel" to "12vf" in row 1
# lifo-test #And I set field "artikel" to "11vl" in row 1
# vo-test #And I set field "artikel" to "13vo" in row 1
And I set field "mge" to "4" in row 1
And I set field "preis" to "5" in row 1
And I set field "platz" to "F3" in row 1
# vo-test #And I set field "platz" to "F1" in row 1
And I set field "konto" to "10011" in row 1

And I save the current editor
And I close the current editor


Scenario:
Given I set the fake date to "24.01.2002"
# ------ nachbewerten ---------------
Given I open an editor "nachbewerten" for tip command "(Revalue)" and arguments ""
And I close the current editor

# rückliefer-fall #Scenario: die mengenreduzierung wieder stornieren
# rückliefer-fall #Given I set the fake date to "25.01.2002"
# rückliefer-fall #
# rückliefer-fall #Given I open an editor "storno-vkrl" from table "(Sales):(PackingSlip)" with command "REVERSAL" for record from editor "VKTRLS1"
# rückliefer-fall #And I save the current editor
# rückliefer-fall #
# rückliefer-fall #Scenario:
# rückliefer-fall #Given I set the fake date to "26.01.2002"
# rückliefer-fall ## ------ nachbewerten ---------------
# rückliefer-fall #Given I open an editor "nachbewerten" for tip command "(Revalue)" and arguments ""
# rückliefer-fall #And I close the current editor
