..!interpreter english translate noabbrev
..*****************************************************************************
.. FOP-Name       : CALLPARAM.GET.TARGET
.. Autor          : fwester
.. Verantwortlich : fwester
.. Kontrolle      : xg
.. Functionality  : Gets name for the parameter tupel (without row).
..*****************************************************************************
.set trans -
..
.. Initializations
.copy U|xtargetname = ""
.copy U|xisaction = G|FALSE
.copy U|xinheader = G|FALSE
.copy U|xposcursor = G|FALSE
.copy U|xfatal = 0
..
.. check type of target item
.continue HITEM   ? F|equals(0|zielaktion, "(SetHeaderField)")
.continue RITEM   ? F|equals(0|zielaktion, "(SetTableField)")
.continue INSERT  ? F|equals(0|zielaktion, "(InsertRow)")
.continue DELETE  ? F|equals(0|zielaktion, "(DeleteLine)")
.continue HCURSOR ? F|equals(0|zielaktion, "(HeaderItem)")
.continue RCURSOR ? F|equals(0|zielaktion, "(LineItem)")
.continue HITEM   ? F|empty(0|zielaktion)
.copy U|xfatal = 2
.continue END
..
!HITEM: Target is a header item
.copy U|xinheader = G|TRUE
.copy U|xtargetname = 0|zielvar
.continue END
..
!RITEM: Target is a table item
.copy U|xtargetname = 0|zielvar
.continue END
..
!INSERT: Target is action [insert]
.copy U|xisaction = G|TRUE
.copy U|xtargetname = U|xinsert
.continue END
..
!DELETE: Target is action [delete]
.copy U|xisaction = G|TRUE
.copy U|xtargetname = U|xdelete
.continue END
..
!HCURSOR: Target is action [pos] for header
.copy U|xinheader = G|TRUE
.copy U|xisaction = G|TRUE
.copy U|xposcursor = G|TRUE
.copy U|xtargetname = U|xcursorto
.continue END
..
!RCURSOR: Target is action [pos] for row
.copy U|xisaction = G|TRUE
.copy U|xposcursor = G|TRUE
.copy U|xtargetname = U|xcursorto
..*****************************************************************************
!END
.continue
