..!interpreter english translate noabbrev
..*****************************************************************************
.. FOP-Name       : CASHMGMT.CONFIG
.. Autor          : male
.. Verantwortlich : cl
.. Kontrolle      : mh
.. Funktion       : Konfiguration
.. Functionality  :
..*****************************************************************************
..
.set trans -
..
.. scenario
.type P66:8 xpszenario ? _F|defined(U|xpszenario)
.. common configuration
.type P66:1 xppayconfig ? _F|defined(U|xppayconfig)
.. account range of cash accounts
.type P68:1 xpliqkber ? _F|defined(U|xpliqkber)
.. account range with excluded accounts
.type P68:1 xparexcluded ? _F|defined(U|xparexcluded)
.. tax payable figure in vat form
.type P54:1.2 xpzahllastpos ? _F|defined(U|xpzahllastpos)
.type integer xpzahllastposzeile ? _F|defined(U|xpzahllastposzeile)
.type P54:4 xpustvaform ? _F|defined(U|xpustvaform)
.type AS60  xustvazeitraum ? _F|defined(U|xustvazeitraum)
.. show all (deactivate any filters)
.type bool  xbshowall ? _F|defined(U|xbshowall)
.. evaluate categories
.type bool  xbevalcategories ? _F|defined(U|xbevalcategories)
.. planned cash opening balance (period 1)
.type real  xrplannedobcash ? _F|defined(U|xrplannedobcash)
..
..*****************************************************************************
!END
..*****************************************************************************
.continue

